In [2]:
import pandas as pd
import pymongo
df = pd.read_csv("credit_risk_dataset.csv")
df.head(5)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [5]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
#data

In [ ]:
DB_NAME = "Proj2"
COLLECTION_NAME = "Proj2-Data"
CONNECTION_URL = "mongodb+srv://idreespatvekar15:NUHxIjucsO0FlISf@cluster0.wrjlhe1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [7]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [8]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [9]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>